#print{
    width: 1000px;
    width: 75%;
}

#print2{
    width: 800px;
    width: 75%;
}

#input{
    width: 1340px;
    width: 83%;
}

#error{
    width: 1300px;
    width: 75%;
}

#math_examples{
    width: 1200px;
    width: 60%; 
}