#print{
    width: 1000px;
}

#print2{
    width: 800px;
}

#input{
    width: 1340px;
}

#error{
    width: 1300px;
}

#sum_up_input{
    width: 1000px;
}

#math{
    width: 450px;
}

#math_examples{
    width: 1200px;
}