#print{
    width: 75%;
}

#print2{
    width: 75%;
}

#variables{
    width: 80%;
}

#input{
    width: 85%;
}

#error{
    width: 80%;
}

#sum_up_input{
    width: 70%;
}

#math_examples{
    width: 70%; 
}