#if{
    width: 70%;
}

#else{
    width: 70%;
}

#else_if{
    width: 70%;
}

#logical_conditions{
    width: 100%;
}

#zogi_ai_zogi{
    width: 70%;
}

#if_in_if{
    width: 75%;
}